[submodule "dotvim/bundle/vim-fugitive"]
	path = dotvim/bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "dotvim/bundle/command-t"]
	path = dotvim/bundle/command-t
	url = https://github.com/wincent/command-t.git
[submodule "dotvim/bundle/nerdtree"]
	path = dotvim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "dotvim/bundle/vim-flake8"]
	path = dotvim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "dotvim/bundle/vim-colors-solarized"]
	path = dotvim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "dotvim/bundle/jshint.vim"]
	path = dotvim/bundle/jshint.vim
	url = https://github.com/walm/jshint.vim.git
[submodule "dotvim/bundle/vim-go"]
	path = dotvim/bundle/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "dotvim/bundle/typescript-vim"]
	path = dotvim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "dotvim/bundle/vim-javascript"]
	path = dotvim/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
